div.couple-alphas-holder
{
	float: left;
	padding-left: 3px;
}
button.berber-alpha
{
	width: 20px;
	height: 20px;
	background-color: transparent;
	color: white;
	margin: 0 5px 0 0;
	border: 0;
	border-bottom: 1px solid transparent;
	font: bold 17px verdana;
	margin-top: 10px !important;
	cursor: default;
}
button.berber-alpha:hover
{
	border-bottom: 1px solid white;
}
div.alpha-box
{

}
#alphas-holder
{
	padding-bottom:70px;
	margin-top:110px;
}