div.couple-alphas-holder {
    float: left;
    padding-left: 3px;
}

button.berber-alpha {
    background-color: transparent;
    color: #2d2d2f;
    margin: 0 5px 0 0;
    border: 0;
    border-bottom: 1px solid transparent;
    font: calc(1.2vw + 1.2vh) verdana;
}

button.berber-alpha.dark {
    color:white;
}
button.berber-alpha:hover {
    margin-top: -2px;
    color: #0269A4;
}

.latinbox {
    display: none;
}

div.alpha-box {

}

#alphas-holder {
    padding: 15px 0 15px 15px;
    float: top;
    background-color: #e1e1e2;
    margin-right: 5px;
    margin-top: 7px;
    border-radius: 5%;
}
#alphas-holder {
    background-color: transparent;
}