/* linked to index.html */

body{
	background-color: #eeeeee;
}
header {
	background-color: #eeeeee;
	color: black;
}
.input-txt{
	width: 500px;
	height: 300px;
	border: 1px black edge;
}
div.input-txt-div {
	float: left;
	padding: 0px 15px 0px 0px;
}
#inputs-container {
	border: 1px groove black;
	padding: 20px 0px 0px 20px;
	height: 350px;
	border-radius: 10px;
}
