/* linked to index.html */

body {
    background-color: #212529 !important;
    zoom: 82%;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: auto !important;

}

#content-top-wrapper {
    height: 100px;
    float: top;
}

#MainApp {
    border-top: 1px solid #3d3d3f;
    height: 500px;
}

#App {
    height: 100%;
    width: 73%;
    float: left;
}

a.donate:hover {
    color: mediumvioletred;
}