body {
  background-color: #1d1d1d;
  font-family: 'Montserrat', sans-serif;
}
.quote
{
	width: 250px;
	color: white;
	border-top: 1px solid white;
}
.quote-title
{
	font-size: 25px;
	padding: 5px 0 0 40px;
}
.quote-mark
{

	height: 50px;
	color: white;
	font-size: 85px;
	
}
.quote-core
{
	padding: 5px 2px 0 5px;
	margin-left: 17px;
	font-size: 15px;
	border-left: 1px solid white;
}