#side-app {
    float: left;
    padding: 5px 3px 0 3px;
    width: 4%;
    background-color: #a2a2a2;
    border-radius: 1%;
}
#side-app.dark {
    background-color: #181818;
}
.side-app-icon {
    width: 20px;
    height: 20px;
}

.side-app-btn {
    height: 12%;
    width: 100% !important;
    padding-top: 0;
    color: black !important;
    margin-bottom: 6%;
    border-radius: 5% !important;
    float: top !important;
    font-size: 15px;
}
.side-app-btn.dark {
    color: white !important;
}
.side-app-btn-txt {
    font: 12px cursive;
}
