.rate {
    height: 46px;
    margin-bottom:-5px;
    padding-left: 5px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size: 30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.ratep-holder
{
    color: #0269A4;
    padding: 13px 5px 0 !important;
    float: left;
}
.ratep{
    font-size: 17px;
}
.rate-el{
    float: left !important;;
    margin-top: -10px;
}
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */