textarea.input {
    background-color: transparent;
    color: black;
    width: 100% !important;
    height: 300px;
    resize: none;
    font-size: calc(1.5vw + 1.5vh);
    border: 0px solid #1bbde8;
    border-radius: 3%;
}
textarea.input.dark {
    color: white;
}
textarea.input:focus {
    border-width: 1px;
    border-radius: 1%;
}

textarea.input:focus {
    border-width: 1px;
    border-radius: 1%;
}

textarea.input:hover {
    animation-name: borderIt;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes borderIt {
    from {
        border-width: 0px;
        box-shadow: 0%;
    }
    to {
        border-width: 3px;
    }
}

.input-legend {
    color: black;
    border-top: 1px solid #4d4d4f;
    float: top;
}
.input-legend.dark{
    color: white;
}

div.input-txt-div {
    float: left;
    width: 50%;
    padding: 0 25px 0 10px;
}
.areabtnholder
{

}
#to-lng
{
    cursor: default;
}
#Translater
{
    margin: -17px 5px 0 -15px !important;
    border-radius: 1%;
    padding: 10px 0;
}
#Translater.dark
{
    background-color: transparent;
}
.down-input
{
    width: 100%;
    height: 10%;
    background-color: #e7e7e7;
    border-bottom: 1px solid #2995de;
}
.down-input.dark
{
    background-color: transparent;
    border-bottom: 0px solid #3d3d3f;
}