textarea.input
{
	background-color: transparent;
	color: white;
	width: 300px;
	height: 250px;
	font-size: 35px;
	resize: none;
	border: 0px solid #0269A4;
	border-radius: 3%;
}
textarea.input:focus
{
	border-width: 1px;
	border-radius: 1%;
}

textarea.input:focus
{
	border-width: 1px;
	border-radius: 1%;
}
textarea.input:hover
{
	animation-name: borderIt;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
@keyframes borderIt{
	from {border-width: 0px;}
	to{border-width: 3px;}
}
.input-legend
{
	color: white;
	border-top: 1px solid white;
}
#translater
{
	
}