<!doctype html>
<html lang="en-US">
<head>
    <title>The first Tamaziɣt translator!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/index_style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/textarea.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/berber-alpha.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/side-app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/coder-info.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/star-rater.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/powered-lngs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Translator/css/topbar-switcher.css' %}">
    <!-- Footer's css -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Bootstrap Scripts +jQuery -->
    <link rel="icon" href="{% static 'Translator/img/icon.png' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var correct_btn_txt = "{% get_item LNG lng=cur_lng attr='correct_btn' %}",
            copy_btn_txt = "{% get_item LNG lng=cur_lng attr='copy_btn' %}",
            paste_btn_txt = "{% get_item LNG lng=cur_lng attr='paste_btn' %}",
            empty_btn_txt = "{% get_item LNG lng=cur_lng attr='empty_btn' %}",
            rate_translation_txt = "{% get_item LNG lng=cur_lng attr='rate_translation' %}";
    </script>
    <script src="{% static 'Translator/js/jqueries.js' %}"></script>
</head>
<body>
<div class="fixed-top">
    <header class="topbar">
        <div style="width:100% !important;">
            <div class="row">
                <!-- social icon-->
                <div class="col-sm-12" style="background-color: #131313;">
                    <div class="lng-selector">
                        <div class="d-inline lng-sel-holder">
                            <a href="?lng=en" class="lng-sel">
                                <img class="lng-sel-flag" src="{% static 'Translator/img/flags/uk.png' %}">
                                <span class="lng-sel-txt"> English </span>
                            </a>
                        </div>
                        <div class="d-inline lng-sel-holder">
                            <a href="?lng=es" class="lng-sel">
                                <img class="lng-sel-flag" src="{% static 'Translator/img/flags/spain.gif' %}">
                                <span class="lng-sel-txt"> Español </span>
                            </a>
                        </div>
                        <div class="d-inline lng-sel-holder">
                            <a href="?lng=fr" class="lng-sel">
                                <img class="lng-sel-flag" src="{% static 'Translator/img/flags/france.gif' %}">
                                <span class="lng-sel-txt"> Français </span>
                            </a>
                        </div>
                        <div class="d-inline lng-sel-holder">
                            <a href="?lng=ar" class="lng-sel">
                                <img class="lng-sel-flag" src="{% static 'Translator/img/flags/arab.png' %}">
                                <span class="lng-sel-txt"> العربية </span>
                            </a>
                        </div>
                        <div class="d-inline lng-sel-holder">
                            <a href="?lng=tz_lat" class="lng-sel">
                                <img class="lng-sel-flag" src="{% static 'Translator/img/flags/berber.png' %}">
                                <span class="lng-sel-txt"> Tamaziɣt (Latin) </span>
                            </a>
                        </div>
                        <div class="d-inline lng-sel-holder">
                            <a href="?lng=tz_tfng" class="lng-sel">
                                <img class="lng-sel-flag" src="{% static 'Translator/img/flags/berber.png' %}">
                                <span class="lng-sel-txt"> Tamaziɣt (ⵜⵍⴼⵍⵏⴰⵖ) </span>
                            </a>
                        </div>
                    </div>
                    <ul class="social-network">
                        <li class="switch-phrase"> {% get_item LNG lng=cur_lng attr='darkmode' %} </li>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round" id="modeSwitcher"></span>
                        </label>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #131313 !important;">

            <a href="https://en.wikipedia.org/wiki/Berber_flag">
                <img class="rounded float-left" src="{% static 'Translator/img/flags/berber.png' %}"
                     style="width:70px;height:35px;margin-right:20px;"/>
            </a>
            <div>
                <div>
                    <a class="navbar-brand" style="margin:  0 !important;padding: 0 !important;" href="#">
                        Irman Translator
                    </a>
                </div>
                <div style="margin:-13px 0 0 0px !important;padding: 0 !important;">
                    <span class="navbar-brand" style="margin:5px 0 0 1px;font-size:0.59rem;font-family: cursive;">
                <span style="color:#0269A4;">by this shall</span>
                <span style="color:green"> a language </span>
                <span style="color:yellow"> never die</span>
                </span>
                    </span>
                </div>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="active">
                        <span style="color:white;"></span><span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right:20px">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'Translator/img/icons/help.png' %}" class="navbar-icon"/>
                                {% get_item LNG lng=cur_lng attr='help_us' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">
                                {% get_item LNG lng=cur_lng attr='are_you_teacher' %}
                            </a>
                            <a class="dropdown-item" href="#">
                                {% get_item LNG lng=cur_lng attr='are_you_dev' %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                {% get_item LNG lng=cur_lng attr='send_feedback' %}
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" style="color:white;">
                        <a class="nav-link" href="#">
                            <img src="{% static 'Translator/img/icons/read.png' %}" class="navbar-icon"/>
                             {% get_item LNG lng=cur_lng attr='read_with_us' %}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" style="color:white;">
                        <a class="nav-link" href="#">
                            <img src="{% static 'Translator/img/icons/lyrics.png' %}" class="navbar-icon"/> Irman Lyrics
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

</div>
</header>

<div id="content-wrapper">
    <div id="content-top-wrapper"></div>
    <div id="MainApp" class="d-inline-block">
        <div id="side-app">
            <div>
                <button id="tifibtn" class="btn btn-light side-app-btn" v-on:click="toTfng();">
                    <span class="side-app-btn-txt"><b>ⵣ</b> <br/> Tifinaɣ</span>
                </button>
                <button id="latinbtn" class="btn btn-light side-app-btn" style="width:100%;" v-on:click="toLatin();">
                    <span class="side-app-btn-txt"><b style="font-size: calc(0.7vw + 0.7vh);">ǧ</b> <br/> Latin</span>
                </button>
                <button class="btn btn-light side-app-btn" v-on:click="swapLngs()">
                    <img src="{% static 'Translator/img/icons/swap.png' %}" class="side-app-icon">
                    <br/>
                    <span class="side-app-btn-txt">
                        {% get_item LNG lng=cur_lng attr='swap_btn' %}
                    </span>
                </button>
                <button class="btn btn-light side-app-btn" v-on:click="this.emptyAreas()">
                    <img src="{% static 'Translator/img/icons/empty.png' %}" class="side-app-icon">
                    <br/>
                    <span class="side-app-btn-txt">
                        {% get_item LNG lng=cur_lng attr='empty_btn' %}
                    </span>
                </button>
                <button class="btn btn-light side-app-btn" v-on:click="this.copyTranslation()">
                    <img src="{% static 'Translator/img/icons/copy.png' %}" class="side-app-icon">
                    <br/>
                    <span class="side-app-btn-txt">
                        {% get_item LNG lng=cur_lng attr='copy_btn' %}
                    </span>
                </button>
            </div>
        </div>
        <div id="AppContainer" class="d-inline-block">
            <div class="shadow rounded" id="App">
                <div id="alphas-holder" class="row">
                    <alpha v-for="i in berberAlphas.length" v-bind:key="i" v-bind:berberAlpha="berberAlphas[i-1]"
                           v-bind:tifinaghAlpha="tifinaghAlphas[i-1]">
                    </alpha>
                </div>
                </br>
                <div id="Translater" class="row mt-0">
                    <txtinput v-bind:lng='fromLng' v-bind:flag='fromFlag' lngid='from-lng'></txtinput>

                    <div class="clear" style="display:none;">.</div>
                    <txtinput v-bind:lng='toLng' v-bind:flag='toFlag' lngid='to-lng' isdisabled='false'></txtinput>
                </div>
            </div>

        </div>
        <div id="AdsAppContainer" class="d-inline-block">
            <div id="AdsApp" class="shadow rounded">

            </div>
        </div>
    </div>
</div>
<hr color="3d3d3f" style="margin:0;padding:0;">
<!-- Footer -->
<footer class="pt-4 pb-4" id="contact">
    <div class="">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold footer-title">
                    <img src="{% static 'Translator/img/icons/contributor.png' %}" class="footer-icon"/>
                    {% get_item LNG lng=cur_lng attr='who_are_we' %}
                </h5>
                <p class="mb-2">
                    {% get_item LNG lng=cur_lng attr='coders_title' %}
                </p>
                <div class="coder-info">
                    <div style="float:left;">
                        <img src="{% static 'Translator/img/coders/hbfree.jpg' %}" class="rounded-circle coder-img"/>
                    </div>
                    <div class="coder-cred">
                        <div style="float:top;">
                            <span class="coder-name" style="margin-left:-5px;"> <span
                                    class="top-contributor-star">★</span> Hakim (hbFree) </span>
                            <span class="coder-name-br"> (ⵀⴰⴽⵉⵎ) </span>
                        </div>
                        <div class="coder-descript">
                            Student @Higher National School of Computer Science ESI ex. INI
                        </div>
                    </div>
                </div>
                <div class="powered-by d-inline">
                    <div id="powered-title" class="footer-title">
                                {% get_item LNG lng=cur_lng attr='prg_lng_thanks' %}
                    </div>
                    <br/>
                    <div class="lngs-holder">
                        <div class="d-inline pow-lng">
                            <img class="lng-icon" src="{% static 'Translator/img/lngs/python.png' %}">
                            <span> Python </span>
                        </div>
                        <div class="d-inline pow-lng">
                            <img class="lng-icon" src="{% static 'Translator/img/lngs/vue.png' %}">
                            <span> Vue.js </span>
                        </div>
                    </div>
                    <br/>
                    <div class="lngs-holder">
                        <div class="d-inline pow-lng">
                            <img class="lng-icon" src="{% static 'Translator/img/lngs/jquery.png' %}">
                            <span> jQuery </span>
                        </div>
                        <div class="d-inline pow-lng">
                            <img class="lng-icon" src="{% static 'Translator/img/lngs/django.png' %}">
                            <span> Django </span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="lngs-holder" style="margin:-10px 0 0 -10px !important;">
                    <div class="d-inline pow-lng" style="margin-top:-30px !important;">
                        <img class="lng-icon" src="{% static 'Translator/img/lngs/bootstrap.png' %}">
                        <span> Bootstrap </span>
                    </div>
                    <div class="d-inline pow-lng">
                        <img class="html-css-js" src="{% static 'Translator/img/lngs/html-css-js.png' %}">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4 unmarginit">
                <h5 class="mb-4 font-weight-bold footer-title">
                    <img src="{% static 'Translator/img/icons/read.png' %}" class="footer-icon"/>
                    {% get_item LNG lng=cur_lng attr='read_with_us' %}
                </h5>
                <div class="footer-article-holder">
                    <a href="randomlink.com">
                        <img class="img-thumbnail footer-read-img" src="{% static 'Translator/img/Bejaia.jpg' %}"/>
                    </a>
                    <blockquote class="blockquote footer-img-lgd">taken @Cap Bouak, Bejaia by Photographer</blockquote>
                    <p>Bejaia is the second largest Amazigh city today, from Naceria to ...</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-2 mb-4 unmarginit">
                <h5 class="mb-4 font-weight-bold footer-title">
                    <img src="{% static 'Translator/img/icons/update.png' %}" class="footer-icon"/>
                    {% get_item LNG lng=cur_lng attr='updates' %}
                </h5>
                <ul class="recent-post" style="margin-left:-30px;">
                    <li>
                        <label class="mr-3">12 <br><span>DEC</span></label>
                        <span>Set up Django !</span>
                    </li>
                    <br/>
                    <li>
                        <label class="mr-3">18 <br><span>NOV</span></label>
                        <span>First commit of something going to be great</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4 unmarginit">
                <a href="#" class="donate">
                    <h5 class="mb-4 font-weight-bold footer-title">
                        <img src="{% static 'Translator/img/icons/heart.png' %}" class="footer-icon"/>
                        {% get_item LNG lng=cur_lng attr='donate' %}
                    </h5>
                </a>
                <p style="color: mistyrose; font-size: 17px; margin-left: -3%;">
                        {% get_item LNG lng=cur_lng attr='donate_txt' %}
                </p>

            </div>
        </div>
    </div>
</footer>
<!-- Copyright -->
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center text-white">
                    <span>&copy; 2019 all rights reserved; made with L&hearts;ve</span>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'Translator/js/view.js' %}"> </script>
</body>
</html>
