/* linked to index.html */

body {
    background-color: #212529 !important;
    zoom: 82%;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: auto !important;

}
html, body{
    height: 100%;
}

#content-top-wrapper {
    height: 100px;
    float: top;
}

#MainApp {
    width: 100%;
    border-top: 1px solid #3d3d3f;
    margin-top: -3px;
    background-color: #2d2d2f;
}
div#MainApp.dark{
    background-color: #003f68;
}

#AppContainer {
    height: 100%;
    width: 75%;
    float: left;
    padding: 2px;
    height: 100%;
}

#App {
    background-color: #e8e8e8;
    padding: 5px 0 10px 20px;
    height: 100%;
}
#App.dark{
    background-color: #181819;
}
a.donate:hover {
    color: mediumvioletred;
}

#AdsApp {
    background-color: #e3e3e3;
    height: 100%;
}
#AdsApp.dark{
    background-color: #181819;
}

#AdsAppContainer {
    height: 100%;
    width: 20.5%;
    margin-left: 1px;
    margin-top: 1px;
    padding: 2px 0 3px 0;
}

.clear{
    clear: both;
}