.powered-by
{
    margin: 30px 0 0 -10px !important;
}
#powered-title
{
    color: #0269A4;
    font-size: 25px;
    margin-left: -10px;
    text-decoration: underline;
}
.pow-lng
{
    font-size: 25px;
    display: inline-block !important;
    margin-top: 10px !important;
    margin-right: 10px;
}
#lngs-holder
{
    padding-right: 5px;
}
.html-css-js
{
    width: 120px;
    height: 70px;
}